
.contacting{opacity: 0;}

.contacting .container{
    box-shadow: 1px 4px 6px 0px #333;
    border-radius: 1rem;
    width: 85%;
}

.contacting .container input[type="text"],
.contacting .container input[type="email"],
.contacting .container textarea{
    border:0;
    border-bottom: 1.75px var(--heading-color) solid;
}

.contacting .container form{width:80%;}

.contacting .container input[type="text"],
.contacting .container input[type="email"]{width:calc(50% - 0.5rem);}

.contacting .container input[type="text"]:focus,
.contacting .container input[type="email"]:focus,
.contacting .container textarea{outline:none}

.contacting .container input[type="email"],
.contacting .container textarea{width: 79%}

@media screen and (max-width: 426px){
    .contacting .container{width: 100%;}
    .contacting .container input[type="text"],
    .contacting .container input[type="email"]{width:100%}
}

.contacting .container button{
    border: 1px var(--main-color) solid;
    color: var(--main-color);
    background-color: #fff;
    width: 12rem !important;
    transition: 0.3s
}
.contacting .container button:hover{
    color: #fff;
    background-color: var(--main-color);
}

footer .contacts h3:before{
    content: "";
    display: block;
    background-color: #fff;
    width: 30%;
    height: 0.15rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer .contacts h3:after{
    content: "";
    display: block;
    background-color: #fff;
    width: 30%;
    height: 0.15rem;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (min-width: 310px) and (max-width: 430px){
    .about .container .image h1{letter-spacing: 0.53rem;}
}